@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #140a26; /* deep purple background */
  --foreground: #ffffff;
  --brand-purple: #4D148C;
  --brand-orange: #FFCC00;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Space Grotesk', 'Noto Sans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Noto+Sans:wght@400;500;700;900&family=Manrope:wght@400;500;700;800&display=swap');



